<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue sur notre site!</title>
</head>
<body>
  <h1>Bienvenue <%= @user.first_name %>!</h1>
  <p>Merci de vous être inscrit sur notre site. Nous sommes ravis de vous avoir parmi nous!</p>
  <p><!-- Autres contenus HTML de l'e-mail de bienvenue --></p>
</body>
</html>
