
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <h1 class="display-4">Trouvez des événements près de chez vous</h1>
      <p class="lead">Découvrez les meilleurs événements organisés par des passionnés locaux.</p>
      <form class="form-inline">
  <input class="form-control mr-2" type="search" placeholder="Recherche  non disponibles" aria-label="Search">
  <a href="<%= events_path %>">
    <button class="btn btn-primary" type="button">Listes des évènements</button>
  </a>
</form>
</div>
    <div class="col-lg-6">
      <img src="/assets/img1.jpg" alt="Image1" class="img-fluid rounded">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image d'événement">
        <div class="card-body">
          <h5 class="card-title">Nom de l'événement</h5>
          <p class="card-text">Description de l'événement. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image d'événement">
        <div class="card-body">
          <h5 class="card-title">Nom de l'événement</h5>
          <p class="card-text">Description de l'événement. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Image d'événement">
        <div class="card-body">
          <h5 class="card-title">Nom de l'événement</h5>
          <p class="card-text">Description de l'événement. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>