<!DOCTYPE html>
<html>
<head>
  <title>Participation à l'événement</title>
</head>
<body>
  <h1>Confirmation de participation à l'événement</h1>
  <p>Bonjour <%= @event_creator.first_name %>,</p>
  <p><%= @participant.first_name %> a rejoint votre événement "<%= @event.title %>".</p>
</body>
</html>
