<footer class="bg-light text-center py-3 mt-auto fixed-bottom">
  <div class="container">
    <span>© <%= Time.now.year %> Votre Société. Tous droits réservés.</span>
  </div>
</footer>

<script src="https:/